.banner{
    /*position: relative;*/
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__titulo{
    font-family: var(--pacifico);
    color: var(--branco);
    font-size: 5.6rem;
    text-align: center;
    position: absolute;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    font-weight: 400;
}