:root{
    --header: #f9f9f9;
    --links: #808080; 
    --active: #333333; /*Link ativo*/
    --branco: #fdfdfd;
    --vinho: #8D0606;
    --vinho-escuro: #620404;
    --texto: #8C8888;
    --cinza-escuro: #e5e5e5;

    --pacifico: 'Pacifico', cursive;
}