.quem-somos{
    text-align: center;
}
.quem-somos__titulo{
    color: var(--vinho);
    margin-bottom: 1rem;
    font-family: var(--pacifico);
    font-size: 3.18rem;
    font-weight: 400;
}
.quem-somos__descricao{
    color: var(--texto);
    font-size: 1.75rem;
    font-weight: 300;
}
.pessoas{
    display: flex;
    justify-content: space-around;
    
    padding-top: 3rem;
}
.pessoa{
    display: flex;
    flex-direction: column;
}
.pessoa__imagem{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}
.pessoa__imagem--roberta{
    background-image: url(../img/pessoas/roberta.jpg);
}
.pessoa__imagem--marcela{
    background-image: url(../img/pessoas/marcela.jpg);
}
.pessoa__imagem--andreia{
    background-image: url(../img/pessoas/andreia.jpg);
}
.pessoa__nome{
    color: var(--vinho);
    font-family: var(--pacifico);
    font-size: 2rem;
    margin: 1rem 0;
}
.pessoa__funcao{
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

@media screen and (min-width: 0) {
    .quem-somos{
        padding: 5rem;
    }
    .pessoas{
        flex-direction: column;
    }   
    .pessoa{
        align-items: center;

        margin-bottom: 2rem;
    }
    .pessoa__imagem{
        margin: 0;
        height: 200px;
        width: 200px;
    }
}
@media screen and (min-width: 768px) {
    .quem-somos{
        padding: 5rem 4rem;
    }
    .pessoas{
        flex-direction: row;
        justify-content: space-around;
    }
    .pessoa{
        margin-bottom: 0;
    }
    .pessoa__imagem{
        margin: 0 auto;
    }
}
